.DS_Store
.vscode
.idea
cmake-build-debug
build
build_*
mirror
log
database

# Ignore build folders
/CMakeFiles/
/CMakeCache.txt
/CMakeScripts/
Makefile
cmake_install.cmake
!CMakeLists.txt

# Ignore object files, archives, and executables
*.o
*.a
*.so
*.out
*.exe
*.dll
*.lib

# Ignore specific build output directories
/bin/
/lib/
/Testing/
googletest/

# Optional: Ignore all directories named build
**/build/

# Ignore editor settings
*.swp
*.swo
.vscode/
.idea/